@page "/"

<Navbar />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <h1 class="display-1 text-primary text-center">Witaj w Schowku</h1>
                <h2 class="text-dark fw-bold text-center">Twoje nowe miejsce do przechowywania i kolekcjonowania rzeczy.</h2>
            </div>
        </div>
    </div>
</div>

@code {

}
