@using System.Security.Claims
@using SchowekWeb.Data
@using SchowekWeb.Models
@inject IDataAccess _data
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar m-0 p-0">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel pt-3 pb-3 d-flex">
            <div class="image">
                <img src="dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <AuthorizeView>
                <Authorized>
                    <div class="info">
                        <a href="Identity/Account/Manage" class="d-block">Witaj, @context.User.Identity.Name</a>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="info">
                        <a href="Identity/Account/Login" class="d-block">Zaloguj się, aby skorzystać ze schowka.</a>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <AuthorizeView>
                <Authorized>
                    <ul class="nav nav-pills nav-sidebar flex-column mx-2" data-widget="treeview" role="menu"
                        data-accordion="false">

                        <li class="nav-item border border-primary rounded">
                            <NavLink href="#addNewCategory" class="nav-link m-0" data-bs-toggle="modal">
                                <i class="nav-icon bi bi-plus-square"></i>
                                <p>
                                    Dodaj nowy schowek
                                </p>
                            </NavLink>
                        </li>
                    </ul>
                    <hr class="mx-2"/>
                    <ul class="nav nav-pills nav-sidebar flex-column mx-2" data-widget="treeview" role="menu"
                        data-accordion="false">

                        <li class="nav-item">
                            <NavLink href="Dashboard" class="nav-link">
                                <i class="nav-icon bi bi-columns-gap"></i>
                                <p>
                                    Dashboard
                                </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="Users" class="nav-link">
                                <i class="nav-icon bi bi-people-fill"></i>
                                <p>
                                    Lista użytkowników
                                </p>
                            </NavLink>
                        </li>
                        @if (Categories != null)
                        {
                            @foreach (var clipboards in Categories)
                            {
                                <li class="nav-item">
                                    <NavLink href="#" class="nav-link">
                                        <i class="nav-icon bi bi-card-list"></i>
                                        <p>
                                            @clipboards.CategoryName
                                        </p>
                                    </NavLink>
                                </li>
                            }
                        }
                        else
                        {

                        }
                    </ul>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView>
                <Authorized>
                    <ul class="nav nav-pills nav-sidebar flex-column" style="position: absolute; bottom: 0;">
                        <li class="nav-item">
                            <form method="post" action="Identity/Account/LogOut">
                                <button type="submit" class="btn btn-link nav-link">
                                    <i class="nav-icon bi bi-box-arrow-in-left"></i>
                                    <p>
                                        Wyloguj się
                                    </p>
                                </button>
                            </form>
                        </li>
                    </ul>
                </Authorized>
                <NotAuthorized>
                    <ul class="nav nav-pills nav-sidebar flex-column" style="position: absolute; bottom: 0;">
                        <li class="nav-item">
                            <a href="Identity/Account/Login" class="nav-link">
                                <i class="nav-icon bi bi-box-arrow-in-right"></i>
                                <p>
                                    Zaloguj się
                                </p>
                            </a>
                        </li>
                    </ul>
                </NotAuthorized>
            </AuthorizeView>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>




@code {
    List<Category> Categories;

    public string UserId { get; set; }

    public void GetUserIdData()
    {
        if (_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated == true)
        {
            UserId = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        }
    }

    protected override void OnInitialized()
    {
        GetUserIdData();
    }

    protected override async Task OnInitializedAsync()
    {
        Categories = await _data.GetUsersCategories(UserId);

    }
}