@using SchowekWeb.Data
@using SchowekWeb.Models

@inject IDataAccess _data

<h3>Dodaj nowy schowek</h3>

<EditForm Model="@CategoryModel">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label">Wprowadź nazwę schowka:</label>
        <InputText @bind-Value="@CategoryModel.CategoryName" class="form-control" placeholder="Na później"></InputText>
    </div>
    <div class="mb-3">
        <label class="form-label">Wybierz ikonę:</label>
        <InputFile class="form-control" type="file"></InputFile>
    </div>
    <div class="mb-3">
        <label class="form-label">Utworzono: </label>
        <input class="form-control" type="text" placeholder="@DateTime.Now" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Użytkownik:</label>
        <input class="form-control" type="text" placeholder="@ToBeCreatedBy" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</EditForm>

@code {
    [Parameter]
    public string ToBeCreatedBy { get; set; }

    [Parameter]
    public Category CategoryModel { get; set; }
}
