<!-- File Card -->
<div class="card text-white bg-primary">
    <div class="card-body card-item overflow-auto d-flex flex-column">
        <h5 class="card-title mb-auto">Hello World.cs</h5>
        <p class="card-text my-auto">file/c#</p>
        <p class="card-text my-auto">5.12 MB</p>
        <button type="button" class="btn btn-secondary btn-block mt-auto"><i class="bi bi-file-earmark-arrow-down-fill"></i> Pobierz</button>
    </div>
    <div class="card-footer d-flex align-items-center">
        <small class="text-light">11.01.2021 20:30</small>
        <button type="button" class="btn btn-sm btn-outline-danger ml-auto">
            <i class="bi bi-trash-fill"></i>
        </button>
    </div>
</div>

@code {

}
