@using SchowekWeb.Data
@using SchowekWeb.Models
@inject IDataAccess _data

<div class="input-group mb-3 flex-nowrap">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
    <input type="text" class="form-control" placeholder="Szukaj..."/>
</div>

@code {
    [Parameter]
    public List<Item> SearchedItems { get; set; }

    // Initialize SearchTerm to "" to prevent null's
    string SearchTerm { get; set; } = "";
}
